@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}

.input-field:focus {
  outline: none;
  border: none;
  outline-offset: 0px;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: none;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: none;
}

#colorStyle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
#colorStyle::-webkit-color-swatch {
  border-radius: 50%;
}
#colorStyle::-moz-color-swatch {
  border-radius: 50%;
}

.bg-custom-gradient {
  background: linear-gradient(
    180deg,
    rgba(18, 12, 120, 1) 9%,
    rgba(17, 2, 189, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
}

.glass-background,
.headroom--pinned,
.headroom--unpinned {
  background: linear-gradient(
    180deg,
    rgba(18, 12, 120, 0.8) 9%,
    rgba(17, 2, 189, 0.8) 100%,
    rgba(9, 9, 121, 0.8) 100%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.9px);
  -webkit-backdrop-filter: blur(0.9px);
}

.headroom--unfixed {
  background: linear-gradient(
    180deg,
    rgba(18, 12, 120, 1) 9%,
    rgba(17, 2, 189, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper {
  width: 100%;
  margin-bottom: 30px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
.swiper-button-next,
.swiper-button-prev {
  background: linear-gradient(
    180deg,
    rgba(18, 12, 120, 1) 9%,
    rgba(17, 2, 189, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  );
  padding: 20px 15px;
  border-radius: 10px 0 0px 10px;
  color: #fff;
}
.swiper-button-next {
  border-radius: 10px 0 0px 10px;
  right: 0 !important;
}
.swiper-button-prev {
  border-radius: 0px 10px 10px 0px;
  left: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  mix-blend-mode: difference !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(
    180deg,
    rgba(18, 12, 120, 1) 9%,
    rgba(17, 2, 189, 1) 100%,
    rgba(9, 9, 121, 1) 100%
  ) !important;
}

@media screen and (min-width: 1024px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: #fff;
    font-size: 36px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 30px 25px;
  }
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: blue;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: blue;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* Heart Icon */
.heartIcon {
  width: 50px;
  height: 40px;
  background: url("./images/wishlist-heart-animation-on-click/heart.png")
    no-repeat;
  background-position: -20px -30px;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.heartIcon.is-active {
  transition-duration: 1s;
  background-position: -2820px -30px;
}

.stage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
}
